*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/server/Server/.vs/Server/v15/.suo
/server/Server/.vs/Server/v15/Server/sqlite3/db.lock
/server/Server/.vs/Server/v15/Server/sqlite3/storage.ide
Server.deps.json
Server.dll
Server.pdb
Server.runtimeconfig.dev.json
Server.runtimeconfig.json
Server.AssemblyInfo.cs
Server.AssemblyInfoInputs.cache
Server.csproj.CoreCompileInputs.cache
Server.csproj.FileListAbsolute.txt
Server.csprojResolveAssemblyReference.cache
UserSecretsAssemblyInfo.cs
Server.csproj.nuget.cache
Server.csproj.nuget.g.props
Server.csproj.nuget.g.targets
project.assets.json
